.alert-shown {
    .navbar {
        margin-top: 3.6em;
    }
    .app-container {
        margin-top: 130px;
    }
    .aside {
        margin-top: 3.6em;
        height: calc(100% - 3.6em);
        overflow-y: auto;
    }
    @media screen and (max-width: 576px) {
        .navbar {
            margin-top: 3.5em;
        }
        .app-container {
            margin-top: 130px;
        }
        .aside {
            margin-top: 4.5em;
            height: calc(100% - 5em);
        }
    }
    &.hide {
        .navbar {
            margin-top: 0;
        }
        .app-container {
            margin-top: 70px;
        }
        .aside {
            margin-top: 0;
            height: 100%;
        }
    }
}
