.cookie-container {
  background-color: #132333;
  border: 1px dashed #2BE3D6;
  border-radius: 6.63px;
  .placeholder {
    border: 4px solid #C2D1D9;
    border-radius: 4px;
  }
  .dummy-button {
    height: 40px;
  }
}

.mouse {
  position: absolute;
  left: 4em;
  z-index: 99999;
  bottom: 15em;
  .cookie-tap {
    background: #F94F73;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 7px 29px 0 #F94F73;
    position: absolute;
    z-index: 1;
    left: -0.5em;
    bottom: -1.3em;
    opacity: 0;
  }
  
  .cookie-pointer {
    position: absolute;
    z-index: 2;
  }
}


.animated {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.battery-log {
  color: $bt-brand-red !important;
}

#coupon-button {
  opacity: 0;
  position: relative;
}

.code {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    color: white;
    &--green {
        color: $bt-brand-primary;
    }
    &--red {
        color: $bt-brand-red;
    }
}

// feature flags hero anim

#anime-demo {
  position: relative;
  right:3em;
}

.box, .square {
  pointer-events: none;
  margin: 8px;
  display: inline-block;
  //display: none;
  top: -20px;
  left: -20px;
  opacity: 1;
  border-radius: 5px;
  width: 50px;
  height: 10px;
  overflow: hidden !important;
}

.square {
  position: absolute;
}

.square.blue, .box.blue {
  background-image: linear-gradient(270deg, #56F3ED 0%, rgba(65,235,226,0.70) 66%, rgba(43,227,214,0.00) 100%);
}

.square.red, .box.red {
  background-image: linear-gradient(270deg, #FD87AB 0%, rgba(252,120,157,0.90) 66%, rgba(249,79,115,0.00) 100%);
}

.animation-container {
  overflow: hidden;
}

// feature flags anim

.coupon-button {
  opacity: 0;
  //position: relative;
}

#feature-toggle g {
  stroke: #F94F73;
}


// remote config anim

.valueIncrement {
  position: absolute;
  left: 32em;
  bottom: 56.8em;
  font-size: 14px;
  color: #465B65;
  line-height: 18px;
}


.code-stuff {
  .classname {
    color: #2BE3D6;
  }
  .battery-log {
    color: #F94F73;
    padding-left: 1em;
  }
  position: absolute;
  top: 7em;
  left: 2em;
  color: white;
}

@media screen and (min-width: 1070px) and (max-width: 1270px) {
  .hero {
    &--homepage {
      .hero-illustration {
        right: -25em;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
      #anime-demo {
        position: relative;
        right: 10em;
        top: 0em;
      }
}

@media (max-width: 768px) {
  .hero {
    &--homepage {
      .hero-illustration {
        right: -3em;
        width: 100%;
      }
    }
    &--features-page {
      background-color: $hero-bg;
      .hero-illustration {
        position: absolute;
        top: 0em;
        right: -28em;
      }
    }
  }
}