.blog-post{
    padding:50px 20px;
    font-size:1.1rem;

    &__section{

    }

    &__title{
        font-size:3rem;
    }

    &__author{
        font-size:0.75rem;
    }

    &__media{
        margin-bottom:2rem;

        &--padded{
            padding:20px;
        }

        &__image{
            width:100%;
        }
        &__caption{
            display: block;
            font-size: 0.75rem;
            text-align: center;
        }
    }

    &__video{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin-bottom:2rem;

        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__text{
        margin-bottom:2rem;
        color:#3e3e3e;
    }

    &__subtitle{
        margin-top:3rem;
    }

    &__link{
        font-weight:bold;
        color: $pagination-color;

        &:hover{
            color: $pagination-color;
        }
    }

    &__list{
        &__item{
            margin-bottom:1.5rem;
        }
    }
}

.markdown-content {
    h1 {
        font-size:3rem;
        margin-bottom: .5em;
    }
    img {
        max-width: 100%;
    }
    a {
        font-weight:bold;
        color: $pagination-color;
        
        &:hover{
            color: $pagination-color;
        }
    }
    pre {
        background: $panel-heading-bg;
        padding: 20px;
        white-space: pre-wrap;
        margin-top: 1em;
    }
    h2 {
        margin-top:3rem;
    }
    img + em {
        display: block;
        font-size: 0.75rem;
        text-align: center;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        color: #818a91;
        //caption-side: bottom;
    }
}

.read-more{
    margin-top:3rem;

    &__title{
        margin-top:3rem;
        margin-bottom:2rem;
    }
}

.blog-summary{
    margin-bottom:2rem;

    &__image{
        width:100%;
    }

    &__footer{
        min-height:auto;
    }
}

