@import "../variables";
a, .btn, button{
    outline:none;

    &:hover, &:focus, &:active{
        outline:none;
    }
}
.btn, button.btn{
    outline: none !important;
    background: #1c9997;
    transition: $button-transition;
    border-radius: $border-radius-default !important;
    color:#fff;
    text-align: center;
    border: none !important;
    padding: 0 20px;
    letter-spacing: 0.8px;
    line-height: $input-height;
    -webkit-font-smoothing:antialiased;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    height:$input-height;
    box-shadow:0 0 5px rgba(0,0,0,0.2);

    &:hover, &:disabled:hover {
        background: #29aaa8;
    }
    &:hover {
        box-shadow:0 0 10px rgba(0,0,0,0.5);
    }
    &:disabled {
        box-shadow: none;
    }
    &:active,&:focus{
        background: #098783 !important;
        box-shadow:0 0 10px rgba(0,0,0,0.5);
    }
    &.white{
        background:#fff;
        color:black;
    }

    &.btn-danger{
        background:#d9534f;
    }

    &--secondary{
        background:#22354a;
    }


    &--anchor {
        box-shadow: none;
        background: white;
        padding: 5px 10px;
        height: 34px;
        &:hover {
            box-shadow: none;
            background: white;
            color: darken($bt-brand-primary, 10);
        }
        color: $bt-brand-primary;
    }

    &--condensed {
        padding: 0px 0px;
    }
    &--remove:hover {
        svg path {
            fill: #d93939;
        }
    }
    &--with-icon{
        background:none;
        color:#2cd6ca;
        box-shadow: none;
        height:auto;
        line-height: 1;

        &:hover{
            background:none;
            color:darken(#2cd6ca,5);
            box-shadow: none;
        }
    }

    &__icon{
        height:25px;
        width:auto;
        margin-left:5px;

        &--small{
            height:20px;
        }
    }
}

.pill{
    .btn:first-child{
        border-bottom-left-radius:15px!important;
        border-top-left-radius:15px!important;
        border-bottom-right-radius:0!important;
        border-top-right-radius:0!important;
    }
    .btn:last-child{
        border-bottom-right-radius:15px!important;
        border-top-right-radius:15px!important;
        border-bottom-left-radius:0!important;
        border-top-left-radius:0!important;
    }
}
