.card {
    .card-body {
        padding: 2em;
        p {
            color: white;
            word-break: break-word;
            margin-bottom: 0;
        }
    }
    &--navy {
        background: #22354A;
        box-shadow: 0 5px 25px 0 rgba(0,0,0,0.28);
        border-radius: 4px;
        pre {
            color: white;
        }
    }
    &--code {
        align-self: center;
    }
    pre {
        //white-space: pre-wrap;       /* Since CSS 2.1 */
        //white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        //white-space: -pre-wrap;      /* Opera 4-6 */
        //white-space: -o-pre-wrap;    /* Opera 7 */
        //word-wrap: break-word;       /* Internet Explorer 5.5+ */
        word-wrap: break-word;
    }
}