.or-divider {
    color: #ccc;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 2em;
    &__line{
        margin-left: $grid-gutter-width/2;
        height: 2px;
        border-bottom: 1px dashed #ccc;
    }
}
.and-divider {
    color: #ccc;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 2em;
    &__line{
        margin-right: $grid-gutter-width/2;
        &:last-child {
            margin-right: 0;
            margin-left: $grid-gutter-width/2;
        }
        height: 2px;
        border-bottom: 1px solid #ccc;
    }
}
.input-container{
    height:50px;

    input.input{
        border:1px solid #d6dbe0!important;
        border-radius: 8px;
        color:#2e2e2e;
        text-indent: 15px;
        height:50px;

        &--wide{
            min-width:300px;
        }

        &::placeholder{
            color:#2e2e2e;
            opacity:0.5;
        }
    }
}

.form-group{
    margin-bottom:1rem;
}

.homepage{
    .input-container{
        background-color:transparent;
        margin-bottom:20px;

        input.input{
            height:50px;
            //border-radius: 25px;
            background-color:transparent!important;
            border:1px solid rgba(255,255,255,0.5)!important;
            text-indent: 15px;
            color:#fff;

            &::placeholder{
                color:rgba(255,255,255,0.75);
            }
        }
    }

    .form-cta{
        text-align: center;
        .btn{
            margin-bottom:10px;
            border-radius: 25px;
            padding:15px;

            &:hover{
                background:darken(#fff,5);
                color:#000;
            }
        }
    }
}

a.dark{
    color:#373a3c;
}

.hljs, .hljs-header {
    border-radius: $default-border-radius;
}

.btn-primary {
    a {
        &:hover {
            text-decoration: none !important;
        }
    }
}

.__react_component_tooltip {
    z-index: 99999999 !important;
    position: fixed;
}