.hero {
	min-height: 100%;
	margin-top: -30px;
	padding-top: 70px;
	padding-bottom:40px;

	display: flex;
	background: $hero-bg;
	text-align: center;
	color: white;

	h1 {
		margin-top: -40px;
		font-weight: 200;
		font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
	}
	p {
		font-weight: 200;
		font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
		font-size: 1.25em;
		color: rgba(255,255,255,.8);
	}
	button {
		font-size: 1.2em;
		font-weight: 200;
	}
}
h2{
	margin-bottom: 10px;
}
.homepage-icon {
	color: #d9d9d9;
	font-size: 2em;
	display: block;
}
.homepage-features {
	margin-top:50px;

	>div {
		//height:150px;
		text-align: center;
		margin:0 auto;

		h5{
			font-weight:500!important;
			font-size:1rem;
		}

		p{
			color: #22354a;
			opacity: 0.85;
			font-size: 15px;
		}
	}

	ion{
		color:#2cd6ca;
	}
}

.upcoming{
	margin-top:20px;
	border-top: 1px rgba(34,53,74, 0.5) dashed;
	padding-top: 20px;

	& > p{
		width:100%;
		text-align: center;
		margin-bottom:10px;
	}
}

.signup-form {
	color:#555;
	padding:20px;
	margin-top:40px;

	ion{
		color:#2cd6ca;
		font-size: 3rem;
	}
	h3{
		text-align: center;
		margin: 0 0 40px;
	}
	.form-group {
		text-align: left;
	}

	.btn-primary{
		margin:40px 0 10px;
	}
}

.hero-cta{
	padding:20px 0;
	border-top:rgba(255,255,255,0.25) solid 1px;
}

.hero-brand{
	height:46px;
	margin: 65px 0;
}

.feature-container{
	padding:$input-padding-y * 3;
}

.tech{
	background:#f9f9f9;
	padding:40px 0;

	.row > div{
		margin: 0 auto;

		img{
			width:100px;
		}
	}
}

.video {
	margin-top: 2em;
}

footer.homepage{
	background: $hero-bg;
	color:white;
	padding:50px;


	.brand-footer{
		img{
			width:30px;
		}
	}
}

.built-by{
	margin-top:20px;
	p{
		color:#fff;
		font-weight:100;
		font-size:14px;
		opacity:0.75;
	}
	img{
		height:20px;
	}
}

.feedback-btn {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

@media (max-width: 576px) {
	.hero{
		display:block;
		margin-left:0;
		margin-right:0;

		h1{
			margin-top:20px;
		}
	}

	.hero-brand{
		display: none;
	}
}
