.step-list {
    li{
        padding:5px;
        border:1px solid #fefefe;

        span{
            background:#fefefe;
            height:50px;
            width:50px;
            border-radius: 50%;
        }
    }
}