.modal{
    z-index: 100000;
    .modal-header{
        background:linear-gradient(#2cd6ca,#28b7ad);
        color:#fff!important;
        border-radius: 4px 4px 0 0;
        text-align: center;
    }

    .modal-body{
        .input-container{
            input.input{
                border:1px solid #2cd6ca!important;
                //border-radius:25px;
                color:#2e2e2e;

                &::placeholder{
                    color:#2e2e2e;
                    opacity:0.5;
                }
            }
            &.invalid>input {
                border-color: $alert-danger-border!important;
            }
        }
    }
}

@media (max-width: 576px) {
    .modal {
        .tab-icon {
            font-size: 1em;
            margin-right: 0.25em !important;
        }
        .tab-text {
            font-size: .85em;
        }
    }

}




