.popover-bt{
    border-top:8px solid white;
    border-radius: $border-radius-default;
    overflow:visible;

    &:before{
        content:"";
        position: absolute;
        top:-18px;
        right:20px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 16px solid white;
    }

    &.aside-select{
        padding-bottom:0;
    }

    &__list-item {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: .75em;
        font-family: $font-family-header;
        color: #22354A !important;
        &:hover {
            background-color: $list-item-striped-background;
        }
    }
}


.btn-container{
    padding:10px;

    .btn{
        color:white;

        &:hover{
            color:#fff;
            background:darken(#2cd6ca,5);
        }
    }
}

.popover a {
    color: #000;
    font-weight: 100;
}
