nav.navbar {
    box-shadow:none;
    background:$aside-bg;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.25);
    height: 60px;
    color: white;

    &.dark-header{
        background:#22354a;
    }

    &.light-header{
        background:#fff;
    }

    &.scrolled{
    }

    .tabs {
        display: inline-block;
        .tabs-nav {
            width: 380px;
        }
        .btn {
            background-color: transparent;
            &.tab-active {
                color: $brand-secondary;
            }
            border-color: transparent;
        }
        .tab-item {
            padding: 0;
        }
    }
    .navbar-right {
        float: right;
        > * {
            display: inline-block;
            height: 44px;
            line-height: 44px;
        }
    }
    .popover-right {
        left: -175px;
        a {
            padding-top: 0;
        }
    }
    a {
        display: inline-block;
    }

    .navbar-right {
        height: 50px;
        padding-top: 3px;
    }

    .brand {
        margin-top: 5px;
    }

    .btn{
        height:auto;
    }
}

.nav-item-brand {
    font-size: 1em;
    font-family: 'Andika', sans-serif;
}

.nav-list {
    margin: 0 20px 0;
    list-style: none;

    li {
        display: inline-block;
        padding: 0 15px;

        a {
            color: white;
            font-weight: $bold;
            font-size: 14px;
            opacity: 0.75;

            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }
    }

    &.dark {
        li a {
            color: #22354a;
        }
    }

    .login {
        padding-left: 10px;

        ion {
            font-size: 16px;
            position: relative;
            top: 2px;
        }
    }
}

.tabs-nav{
    button.btn{
        color:#373a3c;
    }
}

@media (max-width: 576px) {
    .navbar .nav-list {
        display: none;
    }
}