nav.navbar {
    box-shadow:none;
    background:$aside-bg;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.25);
    height: 60px;
    color: white;

    &.dark-header{
        background:#22354a;
    }

    &-homepage {
        margin-top: 3.5em;
    }

    &.light-header{
        background:#fff;
    }

    &.scrolled{
    }

    .tabs {
        display: inline-block;
        .tabs-nav {
            width: 380px;
        }
        .btn {
            background-color: transparent;
            &.tab-active {
                color: $brand-secondary;
            }
            border-color: transparent;
        }
        .tab-item {
            padding: 0;
        }
    }
    .navbar-right {
        float: right;
        > * {
            display: inline-block;
            height: 44px;
            line-height: 44px;
        }
    }
    .navbar-left {
        .toggle {
            >.icon {
                font-size: 1.5rem;
            }
        }
    }
    .popover-right {
        left: -175px;
        a {
            padding-top: 0;
        }
    }
    a {
        display: inline-block;
    }

    .navbar-right {
        height: 50px;
        padding-top: 3px;
    }
    
    .brand {
        margin-top: 5px;
    }

    .btn{
        height:auto;
    }
    &__master-brand {
        background-color: #F4F5F7;
        z-index: 99999;
        position: fixed;
        width: 100%;
        margin-top: 1.75em;
        display: none;
        border-radius: 0;
        .products-button {
            cursor: pointer;
            color: black;
            ion {
                margin-left: .5em;
            }
        }
        .popover-right {
            left: 30px;
            .popover-inner {
                width: 300px;
                .product-item {
                    text-align: left;
                    height: 80px;
                    padding-left: 20px;
                    &:hover {
                        //background-color: l;
                    }
                    h5 {
                        display: inline-block;
                        padding-left: 15px;
                        color: rgba(34, 53, 74, 0.75);
                    }
                    img {
                        width: 30px;
                    }
                    small {
                        display: block;
                        color: rgba(34, 53, 74, 0.5);
                        font-weight: bold;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        position: relative;
                        bottom: 13px;
                        margin-left: 46px;
                    }
                }
            }
            .popover-bt{
                border-top:0px !important;
                &:before {
                    border-bottom: 16px solid white;
                    top: -16px;
                }
            }
        }
        .brand {
            width: 225px;
        }
    }
}

.nav-item-brand {
    font-size: 1em;
    font-family: 'Andika', sans-serif;
}

.nav-list {
    margin: 0 20px 0;
    list-style: none;
    position: relative;
    bottom: 3px;
    li {
        display: inline-block;
        padding: 0 15px;

        a {
            color: white;
            font-weight: $bold;
            font-size: 14px;
            opacity: 0.75;

            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }
        .icon {
            position: relative;
            font-size: 25px;
            top: 3px;
            margin-right: 6px;
        }
    }

    &.dark {
        li a {
            color: #22354a;
        }
    }

    .login {
        padding-left: 10px;

        ion {
            font-size: 16px;
            position: relative;
            top: 2px;
        }
    }
}

.mobile-navigation {
    &__button {
     cursor: pointer;
    }
    ul li:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        a {
            border-bottom: none;
            &:hover {
                border-bottom-left-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
                background-color: transparent !important;
            }
        }
    }
    .icon {
        font-size: 2em;
    }
}

.tabs-nav{
    button.btn{
        color:#373a3c;
    }
}

.aside-list{
    & > .project-nav__item{
        height:35px;
        transition: height 1s ease-out;
        a{
            &:hover {
                text-decoration: none !important;
            }
            //&:active {
            //    color: $bt-brand-primary !important;
            //}
            &:focus {
                text-decoration: none !important;
                //color: $bt-brand-primary;
            }
        }

        &--open{
                height:auto;
                transition: height 1s ease-out;
            
            & > .project-nav__button{
                background: #2bafa5;
                min-width: 100%;
                padding: 5px 5px 5px 10px;
                &--title {
                    .icon {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}

.project-list {
    &__item {
        &--open {
           .icon {
               transform: rotate(90deg);
           }
        }
    }
}

.project-nav{
color:#fff;

.project-aside{
    margin-bottom:5px;
}

.env-list{
    height:auto;
    transform:scaleY(0);
    transition:transform 0.1s ease-out;
    transform-origin:top;
}

&__item{
    &__text{
        color:#2cd6ca;
        font-size: 0.85rem;
    }

    &--header{
        background:#2cd6ca;
        padding:10px;
    }

    &--open{
        height:auto;
        .env-list{
            transform:scaleY(1);
        }
    }
}

&__icon{
    height:15px;
    margin-left:5px;
}

&__button{
    background:none;
    border:none;
    color:rgba(#fff,0.75);
    padding-left:10px;

    &__dot{
        margin-left:5px;
    }

    &--cta{
        color:#fff;
    }

    &--title{
        font-size:1rem;
        color: rgba(255,255,255,1);
        padding-top: 6px;
        width: 100%;
    }

    &--active{
        color:#fff;
        font-weight:bold;
    }
}

.project-list{
    padding: 10px 0 10px 0;
    background-color: #37485B;
    &__item{

        .env-nav{
            display:none;
            height:0;
        }

        &--open{
            .env-nav{
                display:block;
                height:auto;
            }
        }
    }
}
}

.link{
&--footer{
    padding-left: 20px;
    display: block;
    height: 30px;
    color: #949ba5;
}
}

.env-nav{
margin-left:22px;
&__item{
    //font-size:0.75em;
    color: rgba(255,255,255,.75);
    padding: 5px 0 5px 0;
    a {
        &.active {
            color: $bt-brand-primary;
        }
    }
}
}

@media (max-width: 576px) {
    //.navbar .nav-list {
    //    display: none;
    //}
    .dark-header {
        .brand {
            width: 150px;
        }
    }
    nav.navbar {
        &__master-brand {
            .brand {
                width: 175px;
            }
        }
    }
}
