nav.navbar {
    background-color: white;
    .nav-link {
        margin-left: 1em;
        &.active {
            font-family: $font-family-header !important;
        }
    }
    &.dark-header{
        background:#22354a;
        -webkit-box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.25);
        box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.25);
        color: white;
        .nav-link {
            color: white !important;
        }
    }
    &.light-header{
        background-color: white;
        box-shadow: none;
        .nav-link {
            color: $bt-brand-secondary !important;
        }
    }
    
    .navbar-right {
        float: right;
        > * {
            display: inline-block;
        }
        
        .nav-link {
            margin-left: 1em;
            color: $bt-brand-secondary;
            font-family: $font-family;
            img {
                width: 13px;
            }
            &:hover {
                color: lighten($bt-brand-secondary, 10)
            }
        }
    }
    .navbar-left {
        .toggle {
            >.icon {
                font-size: 1.5rem;
            }
        }
    }
    .popover-right {
        left: -228px;
        top: 15px;
    }
}




.mobile-navigation {
    &__button {
     cursor: pointer;
    }
    ul li:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        a {
            border-bottom: none;
            &:hover {
                border-bottom-left-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
                background-color: transparent !important;
            }
        }
    }
    .icon {
        font-size: 2em;
    }
}

.tabs-nav{
    button.btn{
        color:#373a3c;
    }
}

.aside-list{
    & > .project-nav__item{
        min-height:35px;
        transition: height 1s ease-out;
        a{
            &:hover {
                text-decoration: none !important;
            }
            //&:active {
            //    color: $bt-brand-primary !important;
            //}
            &:focus {
                text-decoration: none !important;
                //color: $bt-brand-primary;
            }
        }
        .project-nav__button {
            font-size: 18px;
        }
        .project-list__item {
            .project-nav__button {
                font-size: 16px;
                padding: 5px 10px 2px 10px;
                &:hover {
                    color: #d9d9d9;
                }
            }
        }

        opacity: 0.5;

        &--open{

                opacity: 1;
                height:auto;
                transition: height 1s ease-out;

            & > .project-nav__button{
                //background: #2bafa5;
                background-color: #37485B;

                min-width: 100%;
                padding: 5px 5px 5px 10px;
                &--title {
                    .icon {
                        margin-right: 10px;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}

.project-settings-link {
    padding-left: 10px;
    display: block;
    opacity: 1 !important;
    background: #36475b;
    line-height: 34px;
}
.project-list {
    &__item {
        .project-nav__button {

            //padding-left: 30px;
        }
        &--open {
            .project-nav__button {
                background: #2bafa5;
            }
            opacity: 1;
            font-weight: bold;
           .icon {
               transform: rotate(90deg);
           }
        }
        opacity: 0.5;
    }
}

.project-nav{
color:#fff;

.project-aside{
    margin-bottom:5px;
}

.env-list{
    height:auto;
    transform:scaleY(0);
    transition:transform 0.1s ease-out;
    transform-origin:top;
}

&__item{
    &__text{
        display: inline-block;
        color:#2cd6ca;
        &:hover {
            color: #2cece0;
        }
        font-size: 16px;
    }

    &--header{
        color: rgba(255,255,255,.8);
        //color:#2cd6ca;
        //border-bottom: 2px solid #141e2b;
        //border-top: 2px solid #141e2b;
        font-size: 20px;
        font-weight: 500;
        padding:10px 10px 10px 10px;
    }

    &--open{
        height:auto;
        .env-list{
            transform:scaleY(1);
        }
    }
}

&__icon{
    height:15px;
    margin-left:10px;
}

&__button{
    background:none;
    border:none;
    color: white;
    padding-left:10px;

    &__dot{
        margin-left:5px;
    }

    &--cta{
        color:#fff;
    }

    &--title{
        font-size:1rem;
        color: rgba(255,255,255,1);
        padding-top: 6px;
        width: 100%;
    }

    &--active{
        color:#fff;
        font-weight:bold;
    }
}

.project-list{
    //padding: 10px 0 10px 0;
    background-color: #37485B;
    &__item{

        .env-nav{
            display:none;
            height:0;
        }

        &--open{
            .env-nav{
                display:block;
                height:auto;
                &__item a {
                    opacity: 0.5;
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
}

.link{
&--footer{
    padding-left: 20px;
    display: block;
    height: 30px;
    color: #949ba5;
    &.active {
        color: white;
    }
}
}

.env-nav{
&__item{
    //font-size:0.75em;
    color: rgba(255,255,255,1);
    line-height: 30px;
    a {
        &.active {
            opacity: 1;
        }
    }
}
}

@media (max-width: 576px) {
    //.navbar .nav-list {
    //    display: none;
    //}
    .dark-header {
        .brand {
            width: 150px;
        }
    }
    nav.navbar {
        &__master-brand {
            .brand {
                width: 175px;
            }
        }
    }
}


@include media-breakpoint-down(xs) {
    .nav {
        &__links {
            font-size: .65em;
        }
    }
}
