.section {
    &--white {
        background-color: white;
        z-index: 999999999;
    }
    &--grey {
        background-color: #f9f9f9;
    }
    &--blue {
        background-color: $bt-brand-secondary;
        h2 {
            color: white;
        }
        p {
            color: #A1AEB7;
        }
    }
}

.features-page {
    h1 {
        font-size: 4em !important;
    }
    h2 {
        font-size: 3em;
    }
}