.reveal {
  .reveal--child {
    opacity:0;
    @include transition(all 200ms);
  }
  &:hover {
    .reveal--child {
      opacity:1;
    }
  }
}

.rule {
  &__row {
    line-height: 2em;
  }
}

.create-segment-modal {
  .modal-dialog {
    width: 76å0px !important;
    max-width: 760px !important;
  }
}
