h1,h2,h3,h4,h5,h6{
    font-weight:bold!important;
    font-family: 'Raleway', sans-serif;
}

.text-small{
    font-size:0.75rem!important;
}

.text-white {
    color: white;
}

p{
    color: #22354a;
    opacity: 0.85;
}

.large-para{
    font-size:1.25rem;
}

.bold-link{
    font-weight:bold!important;
}

.feature {
    &--off {
        color: $bt-brand-red;
    }
    &--on {
        color: $bt-brand-primary;
    }
}


.features-page {
    h1,h2,h3,h4,h5,h6{
        font-weight:bold!important;
        font-family: 'Raleway', sans-serif;
    }
    p {
        font-weight: 400;
    }
}