@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('/fonts/proxima-nova/ProximaNova-Regular.eot?') format('eot'),
    url('/fonts/proxima-nova/ProximaNova-Regular.otf')  format('opentype'),
    url('/fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
    url('/fonts/proxima-nova/ProximaNova-Regular.ttf')  format('truetype'),
    url('/fonts/proxima-nova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}

@font-face {
    font-family: 'ProximaNova-Black';
    src: url('/fonts/proxima-nova/ProximaNova-Black.eot?') format('eot'),
    url('/fonts/proxima-nova/ProximaNova-Black.otf')  format('opentype'),
    url('/fonts/proxima-nova/ProximaNova-Black.woff') format('woff'),
    url('/fonts/proxima-nova/ProximaNova-Black.ttf')  format('truetype'),
    url('/fonts/proxima-nova/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
}


@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('/fonts/proxima-nova/ProximaNova-Bold.eot?') format('eot'),
    url('/fonts/proxima-nova/ProximaNova-Bold.otf')  format('opentype'),
    url('/fonts/proxima-nova/ProximaNova-Bold.woff') format('woff'),
    url('/fonts/proxima-nova/ProximaNova-Bold.ttf')  format('truetype'),
    url('/fonts/proxima-nova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}


@font-face {
    font-family: 'ProximaNova-BoldIt';
    src: url('/fonts/ProximaNova-BoldIt.eot?') format('eot'),
    url('/fonts/ProximaNova-BoldIt.otf')  format('opentype'),
    url('/fonts/ProximaNova-BoldIt.woff') format('woff'),
    url('/fonts/ProximaNova-BoldIt.ttf')  format('truetype'),
    url('/fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
}





h1,h2,h3,h4,h5,h6{
    color: $header-color;
    font-family: $font-family-header;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.link-dark {
    color: $btn-primary-bg;
}

a.dark{
    color: $bt-dark-green;
    text-decoration: underline;
    &:hover {
        color: lighten($bt-dark-green, 10);
    }
}


.text-small{
    font-size:0.75rem!important;
}

.text-white {
    color: white;
}

p{
    color: #22354a;
    opacity: 0.85;
    font-family: $font-family;
}

.text {
    &__link {
        color: $bt-dark-green-alt;
        &:hover {
            color: lighten($bt-dark-green-alt, 10)
        }
    }
}

.large-para{
    font-size:1.25rem;
}

.bold-link{
    font-weight:bold!important;
}

.feature {
    &--off {
        color: $bt-brand-red;
    }
    &--on {
        color: $bt-brand-primary;
    }
}


.features-page {
    h1,h2,h3,h4,h5,h6{
        font-weight:bold!important;
        font-family: $font-family-header;
    }
    p {
        font-weight: 400;
    }
}
