h1,h2,h3,h4,h5,h6{
    color: $header-color;
    font-family: $font-family-header, sans-serif;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.link-dark {
    color: $btn-primary-bg;
}

a.dark{
    color: $bt-dark-green;
    text-decoration: underline;
    &:hover {
        color: lighten($bt-dark-green, 10);
    }
}


.text-small{
    font-size:0.75rem!important;
}

.text-white {
    color: white;
}

p{
    color: #22354a;
    opacity: 0.85;
    font-family: 'Proxima Nova';
}

.text {
    &__link {
        color: $bt-dark-green-alt;
        &:hover {
            color: lighten($bt-dark-green-alt, 10)
        }
    }
}

.large-para{
    font-size:1.25rem;
}

.bold-link{
    font-weight:bold!important;
}

.feature {
    &--off {
        color: $bt-brand-red;
    }
    &--on {
        color: $bt-brand-primary;
    }
}


.features-page {
    h1,h2,h3,h4,h5,h6{
        font-weight:bold!important;
        font-family: $font-family-header, sans-serif;
    }
    p {
        font-weight: 400;
    }
}
