@import "../mixins/custom-scrollbar";

$animation-duration: 350ms;
$animation-timing-function: ease-in-out;

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(asideIn) {
    0% {
        left: -$aside-width
    }
    100% {
        left: 0
    }
}


@include keyframes(navAsideIn) {
    0% {
        left: 0
    }
    100% {
        left: $aside-width
    }
}

.aside {
    z-index: 99999 !important;
    position: fixed;
    animation-name: asideIn;
    animation-duration: $animation-duration;
    animation-timing-function: $animation-timing-function;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: $aside-bg;
    box-shadow: 0 6px 13px 0 rgba(34,53,74,.75);
    &__projects-sidebar {
        width: 100px;
        background-color: #22354A;
        justify-content: center;
        overflow-y: auto;
        height: 100%;
        @include customScroll;
    }

    &__projects-list {

    }
    &__projects-list-container {
        display: flex;
    }

    &__projects-list-item {

    }

    &__projects-item {
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-self: self-start;
        margin-bottom: 1em;
        text-align: center;

        &:hover {
            .btn--project {
                @extend .btn:hover;
                @extend .btn--project:hover;
            }
        }

        &-title {
            color: white;
            font-family: $font-family-header;
            font-size: 11px;
            line-height: 1.3;
            margin-top: 1em;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            width: 76px;
        }
    }

    &__wrapper {
        height: 100%;
    }

    &__main-content {
        background-color: $bt-brand-secondary-light;
        width: 250px;
    }

    &__logo {
        width: 50px;
        display: flex;
        align-self: self-start;
        margin-bottom: 1em;
        margin-top: .75em;
    }

    &__nav-item {
        color: white;
        padding: .5em .35em .5em 1.5em;
        cursor: pointer;
        display: flex;
        align-items: center;
        &.active {
            color: $bt-brand-primary;
            text-decoration: none;
            background-color: $bt-brand-secondary;
            box-shadow: inset 4px 0 0 $bt-brand-primary;
            .aside__nav-item--icon {
                path {
                    fill: $bt-brand-primary !important;
                }
            }
        }
        &:hover {
            background-color: $bt-brand-secondary;
            text-decoration: none;
        }
        &--icon {
            width: 15px;
            margin-right: .75em;
        }
    }
    &__title-wrapper {
        padding: 1em 0;
        text-decoration: none;
        &:hover {
            .aside__link-text {
                text-decoration: none;
            }
        }
    }
    &__header-link {
        display: block;
        text-decoration: none;
        &.active {
            .aside__title-wrapper {
                background-color: $bt-brand-secondary;
                box-shadow: inset 4px 0 0 $bt-brand-primary;
                text-decoration: none !important;
            }
        }
        &:hover {
            .aside__link-text, .aside__link-icon {
                color: darken($bt-brand-primary, 10);
            }
            text-decoration: none !important;
        }
        &:focus {
            text-decoration: none !important;
        }
    }

    &__link-text {
        color: $bt-brand-primary;
        font-family: $font-family-header;
        font-size: 14px;
        padding-left: 2em;
    }

    &__link-icon {
        color: $bt-brand-primary;
        padding-right: 1em;
        &--white {
            color: white;
        }
    }

    &__project-title {
        color: white;
        font-size: 24px;
    }

    &__nav-item-icon {
        margin-right: .75em;
        width: 15px;
    }

    &__environment-nav {

    }
	&__environments-wrapper {
		height: 55vh;
		overflow-y: auto;
        @include customScroll;
    }
    &__environment-list-item {
        display: block;
        color: white;
        padding: .5em .35em .5em .85em;
        opacity: 0.5;
        cursor: pointer;
        &.active {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            background-color: $bt-dark-green-alt;
            opacity: 1;
        }

        &:hover {
            opacity: 1;
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }

        &--icon {
            width: 15px;
            margin-right: .75em;
        }
    }

    &__footer {
        background-color: $bt-brand-secondary-light;
        position: absolute;
        bottom: 0;
		padding-bottom: 1em;
        width: 250px;
    }
    &__popover {
        left: 78px;
    }
    &-body {
        padding-left: $aside-width;
        margin: 0 3em;
        &-full-width {
            padding-left: 0;
        }
    }
    .toggle {
        position: absolute;
        left: 30px;
        top: 15px;

        > .icon {
            color: white;
            font-size: 1.5rem;
        }
    }

}

@include media-breakpoint-down(xs) {
    .aside {
        &__projects-sidebar {
            position: relative;
            top: 3em;
        }
    }
}

@media (max-height: 576px) {
    .aside {
        &__environments-wrapper {
            height: 300px;
        }
    }
}
