@import "../variables";

button.btn {
	border-radius: $btn-border-radius;
	box-shadow: rgba(75, 75, 75, 0.11) 0px 1px 6px, rgba(75, 75, 75, 0.11) 0px 1px 4px;
	color: $btn-default-color;
	cursor: pointer;
	text-decoration: none;
	outline: none !important;
	border: 10px;
	box-sizing: border-box;
	display: inline-block;
	transition: $button-transition;
	&:hover {
		color: $btn-primary-color-hover;
		background: $btn-primary-bg-hover;
	}
}

$remove-btn-size: 24px;
$add-btn-size: 34px;
.btn.btn-remove {
	line-height: $remove-btn-size;
	height: $remove-btn-size;
	padding: 0;
	width: $remove-btn-size;
	align-items: center;
	text-align: center;
	color: #929292;
	background-color: #f7f7f7;
	&:hover {
		background-color: #aaa;
		color: #929292;
	}
	font-size: 1em;
	span {
		line-height: $remove-btn-size;
	}
}

.btn.btn-add {
	line-height: $add-btn-size;
	height: $add-btn-size;
	padding: 0;
	width: $add-btn-size;
	align-items: center;
	text-align: center;
	color: #929292;
	background-color: #f7f7f7;
	&:hover {
		background-color: #eaeaea;
		color: #929292;
	}
	font-size: 1em;
	span {
		line-height: $add-btn-size;
	}
}

.btn-link {
  box-shadow: none !important;
	line-height: 44px;
	padding-left: 10px;
	padding-right: 10px;
}

.btn-link:hover {
  color: $btn-primary-bg;
  background-color: transparent !important;
  text-decoration: none;
}

.btn-white {
	background-color: white !important;
	color: $body-color !important;
}

.btn-white:hover {
	background-color: #f9f9f9 !important;
	text-decoration: none;
}

.btn-link-secondary {
	color: $link-color-secondary;
}

