@import "../variables";

.rating-component{
  display:table;
  width:auto;
}

.fa.star-rating {
  display:table-cell;
  position: relative;
  font-size:24px;

  &.full {
    color: $btn-primary-bg;
    &.editable:hover {
      color: orange;
    }
  }
  &.empty {
    color: $btn-primary-bg;
    &.editable:hover {
      color: orange;
    }
  }
}