@import "../variables";

.tabs-nav {
	display: flex;
	flex-direction: row;
	background-color: #f1f1f1;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	button,button.btn,button.btn-primary {
		box-shadow: none;
		flex:1;
		background-color: transparent;
		color: #000;
		&:hover {
			background-color: rgba(0,0,0,.2);
		}
		font-weight: $input-font-weight;
		min-height: 34px;
		&.active {
			font-weight: 500;
		}
		&.tab-active {
			background: #e8e8e8;
		}
	}
}

.tab-line {
	bottom: 0px;
	display: block;
	height: 2px;
	margin-top: -2px;
	position: relative;
	transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	background-color: $tab-line-color;
}
.tab-icon {
	margin-right: $input-padding-x;
}
.tabs.pill {
	.btn.btn-tab {
		&:first-child{
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
		}
		&:last-child {
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
		}
	}
	.tabs-nav {
		border-radius: 15px;
	}
	.tab-line {
		display: none;
	}
}
	.btn.btn-tab {
		&:first-child{
			border-top-left-radius: 15px;
		}
		&:last-child {
			border-top-right-radius: 15px;
		}
		color: $tab-inactive-color;
		&.tab-active {
			color: $tab-active-color;
		}
	}

	.tab-item {
		display: none;
		&.tab-active {
			display: block;
		}
	}

	.tab-icon {
		font-size: 1.4em;
		display: block;
	}
