//Fonts
$font-family: "OpenSans", sans-serif;
$font-family-header: 'OpenSans', sans-serif;

// COLORS

$brand-primary: #6633ff;
$bt-brand-primary-dark: #17103a;
$bt-brand-primary-dark-desaturated: #17103a;
$bt-brand-primary-dark-desaturated-light: #2d2451;

$bt-brand-primary: #6633ff;
$bt-brand-primary-light: lighten($bt-brand-primary,0.3);
$bt-brand-primary-lighter: lighten($bt-brand-primary,0.7);
$bt-brand-faint: #f3ecff;
$bt-brand-faint-alt: #fcfaff;
$bt-brand-faint-hover: #eee7f6;


$bt-brand-secondary: #f27157;
$bt-brand-secondary-light: #f6a999;
$bt-brand-secondary-hover: #e3674d;
$bt-brand-secondary-active: #e3674d;

$brand-tertiary: #FBF4D5;

$bt-brand-red: #f2576e;

//Body
$body-text: #525162;
$link-color: $body-text;
$body-text-faint: #716E86; // e.g. list sub titles
$header-color: #242039; // for headers and labels

//Navbar
$nav-link-color: $header-color; // navbar link
$nav-link-color-hover: $bt-brand-primary; //
$nav-link-color-active: $bt-brand-primary;
$navbar-height: 5rem;
$navbar-background: transparent;

// Input
$bt-input-border: lighten($bt-brand-primary, 30);
$bt-input-border-active: $bt-brand-primary;
$bt-input-background: $bt-brand-faint-alt;




$alert-danger-bg: $bt-brand-red;
$alert-danger-border: $bt-brand-red;
$alert-danger-text: rgb(255, 255, 255);

$body-bg: $bt-brand-faint-alt;


$bt-gradient-text: $body-text;
$bt-gradient-start: $bt-brand-faint-alt;
$bt-gradient-end: #fff;


//Nav

// BORDER RADIUS
$default-border-radius: 8px;
$btn-border-radius: 8px;

// INPUT
$input-border-radius: 0px;
$input-height: 40px;
$input-line-height: 25px;
$input-font-size: inherit;
$input-font-weight: 400;
$input-border-color: rgb(224, 224, 224);
$input-placeholder-color: rgb(224, 224, 224);
$input-border-highlight-color: $bt-brand-primary-light;

$pagination-color: #333;

// Code help e.g. installing the SDK
$btn-code-button-background-hover: $bt-brand-faint;
$btn-code-button-background: $bt-brand-faint;
$btn-code-button-color: $body-text;
$btn-code-button-color-alt: $bt-brand-secondary;


//BUTTONS
$btn-height: 44px;
$btn-secondary-bg: rgb(240, 240, 240);
$btn-default-color: white;
$hover-bg: rgb(240, 240, 240);
$hover-color: inherits;

//Panel
$panel-heading-height: 50px;
$panel-bg: #fff;
$panel-heading-bg: #f7f7f7;
$panel-heading-color: #919aa6;
$panel-heading-border: 1px solid #f1f1f1;

//
$panel-icon-color: $bt-brand-primary;
$panel-icon-border-color: #ddd;
$panel-icon-background-color: #fff;


//Panel Dark
$panel-alt-heading-bg: #fff;
$panel-alt-heading-color: #fff;

//TABS
$tab-inactive-color: $body-text;
$tab-active-background: darken($bt-brand-faint-alt,5);
$tab-line-color: $bt-brand-secondary;

$tab-active-color: $header-color;
$tab-inactive-background: $bt-brand-faint;

//SCAFFOLDING
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;

//GRID
$input-padding-x: .75rem !default;
$input-padding-y: 1rem !default;

//MODALS
$modal-backdrop-bg: rgba(0, 0, 0, 0.870588);
$modal-header-background: $bt-brand-faint-alt;

$modal-header-color: $header-color;
$modal-header-border-width: 0;
$border-radius-default: 8px;
//TRANSITIONS
$button-transition: background-color 400ms cubic-bezier(0.23, 1, 0.32, 1);
//Hero
$hero-bg:white;

$toast-bg:rgba(0,0,0,.9);
$toast-color:white;

$bold: 400;

$card-default: 0 6px 13px 0 rgba(34,53,74,0.10);

//Aside
$aside-width:330px;


$aside-link:$bt-brand-faint;
$aside-link-color:$bt-brand-primary;
$bt-switch-active:$bt-brand-primary-dark-desaturated-light;
$aside-nav-collapse:darken($bt-brand-primary-dark-desaturated-light,5);
$aside-link-alt:$brand-tertiary;
$aside-link-color-active:#fff;



$aside-box-shadow: none;



// backgrounds
$aside-bg:$bt-brand-primary-dark-desaturated-light;  // left aside menu
$aside-left-bg:darken($bt-brand-primary-dark-desaturated-light,5); // main aside menu
// project link
$aside-project-link-color: $bt-brand-primary;
$aside-project-link: $bt-brand-faint;
// project link active
$aside-project-link-active:$brand-tertiary;
$aside-project-link-color-active:$body-text;

// Environment link
$aside-nav-color:#fff;
$aside-nav-hover:#fff;

// Active environment link
$aside-nav-active:$brand-tertiary;
$aside-nav-active-color:$body-text;



$aside-project-link-active-box-shadow: none;
$aside-nav-collapse-border:$brand-tertiary;

// Aside scrollbar
$bt-scrollbar-track: rgba(243,236,255,0.1);
$bt-scrollbar-thumb: rgba(243, 236, 255, 0.2);
$bt-scrollbar-thumb-hover: rgba(243,236,255,0.6);
