@import "variables";
@import "3rdParty/index";
@import "components/index";
@import "flexbox/index";
@import "project/index";
@import "project/segments";
.overflow-visible {
    overflow-x: visible !important;
    overflow-y: visible !important;
}
.faint {
    color: $text-muted;
    font-size: 0.8em;
}

.faint-lg {
    color: $text-muted;
    font-size: 1.25em;
}

.flag-example {
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.striped-section {
    padding: 20px;
    &:nth-child(2) {
        background-color: #f7f7f7;
    }
}

.gif {
    position: relative;
    cursor: pointer;
    ion {
        box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
        height: 64px;
        line-height: 64px;
        border-radius: 32px;
        width: 64px;
        background: #f1f1f1;
        display: inline-block;
        position: absolute;
        font-size: 1.5em;
    }
    &.playing {
        ion {
            display: none;
        }
    }
    &:hover {
        ion {
            color: #999;
        }
    }
}

.feature-value-container {
    font-size: 0.8em;
    background: #23364a;
    color: #bababa;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    .feature-value {
        color: #6896ba;
    }
    &.string {
        .quot {
            color: #6a8759;
        }
        .feature-value {
            color: #6a8759;
        }
    }
}

.clickable {
    cursor: pointer;
}

body {
    background: #fff;
    font-family: $font-family;
    font-weight: 200;
    color:$body-text;
}

a {
    color: $link-color;
    font-weight: 400;
    cursor: pointer;
}

h1, h2, h3 {
    font-weight: 300;
}

label {
    font-weight: 400;
}

input:disabled {
    opacity: 0.4;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.app-container {
    margin-top: 70px;
    margin-bottom: 70px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

hr {
    color: #f1f1f1;
}

.form-group {
    margin-bottom: $input-padding-y /2;
}

.header-icon {
    margin-left: 10px;
    font-size: 1.5em;
}

.alert-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 2;
    color: #fff;
    padding: 15px;
    font-size: 1.2em;
    background-color: #384f68;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    a {
        color: white;
        &.close-btn {
            font-size: 30px;
            line-height: 30px;
        }
    }

    &__text{
        font-size:14px;
        @media screen and (max-width: 368px) {
            font-size: 11px;
        }
    }

    &.pulse {
        background-color: purple;
    }
    &.slideOut {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    
    .alert-bar {
        padding: 10px 10px 5px 0;
        font-size: 1em;
    }
    
}
