<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>603463597415-em1lk1r3fe779jnsetq85ouapdfma0c3.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.603463597415-em1lk1r3fe779jnsetq85ouapdfma0c3</string>
    <key>API_KEY</key>
    <string>AIzaSyCEeXyXe5uqcU9A6oYi80D0otMNnMOQ3gs</string>
    <key>GCM_SENDER_ID</key>
    <string>603463597415</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.solidstategroup.bullettrain</string>
    <key>PROJECT_ID</key>
    <string>project-4251246165915577329</string>
    <key>STORAGE_BUCKET</key>
    <string>project-4251246165915577329.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <false/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:603463597415:ios:135d2c4ca825742b</string>
    <key>DATABASE_URL</key>
    <string>https://project-4251246165915577329.firebaseio.com</string>
  </dict>
</plist>
