<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747702233946-pk7f1im8i7hc4bc9fj6ac2c0pf05eoa3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747702233946-pk7f1im8i7hc4bc9fj6ac2c0pf05eoa3</string>
	<key>API_KEY</key>
	<string>AIzaSyCvQYMNJ-ufarIwhmU4CPDF24yezq3GIfc</string>
	<key>GCM_SENDER_ID</key>
	<string>747702233946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solidstategroup.bullettrain</string>
	<key>PROJECT_ID</key>
	<string>bullet-train-b0b22</string>
	<key>STORAGE_BUCKET</key>
	<string>bullet-train-b0b22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747702233946:ios:0275d2f02639a959</string>
	<key>DATABASE_URL</key>
	<string>https://bullet-train-b0b22.firebaseio.com</string>
</dict>
</plist>
